# Titanic-Machine-Learning-from-Disaster

## 1. Importing the necessary libraries

In [1]:
import numpy as no                      # Numerical python
import pandas as pd                     # Preprocessing libraries
import seaborn as sns                   # visualization library
import matplotlib.pyplot as plt         # visualization library
%matplotlib inline

## 2. Getting the data

In [2]:
train = pd.read_csv('dataset/train.csv')
test = pd.read_csv('dataset/test.csv')
sample = pd.read_csv('dataset/gender_submission.csv')
train.shape, test.shape, sample.shape

((891, 12), (418, 11), (418, 2))

### 2.1  Preprocessing the Data

In [7]:
target = train['Survived']
ID = test['PassengerId']
data = train.append(test).drop('Survived', axis=1)
data.shape

(1309, 11)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Pclass       1309 non-null   int64
 2   Name         1309 non-null   object
 3   Sex          1309 non-null   object
 4   Age          1046 non-null   float64
 5   SibSp        1309 non-null   int64
 6   Parch        1309 non-null   int64
 7   Ticket       1309 non-null   object
 8   Fare         1308 non-null   float64
 9   Cabin        295 non-null    object
 10  Embarked     1307 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 162.7+ KB

In [9]:
data.describe()

,PassengerId,Pclass,Age,SibSp,Parch,Fare
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000
mean,655.000000,2.294882,29.881138,0.498854,0.385027,33.295479
std,378.020061,0.837836,14.413493,1.041658,0.865560,51.758668
min,1.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,328.000000,2.000000,21.000000,0.000000,0.000000,7.895800
50%,655.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,982.000000,3.000000,39.000000,1.000000,0.000000,31.275000
max,1309.000000,3.000000,80.000000,8.000000,9.000000,512.329200